.footer{
  width: 100%;
  background-color: #262626;
  padding: 100px 160px;
  color: white;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  .logo{
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 20px;

    h1{
      display: flex;
      align-items:center;
      color: white;
      font-size: 27px;
      img{width: 15%;}
    }

    p{color: grey;}

    .social{
      width: 100%;
      display: flex;
      gap: 10px;
      .social-icon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: grey;

      }
    }


  }

  .Contact{
    width: 29%;
    display: flex;
    gap: 10px;

    .company , .contact{
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      p{
        color: grey;
      }
    }
  }

  .send{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .input{
      display: flex;
      input{
        width: 80%;
        height: 46px;
        background-color: grey;
        border: 1px solid transparent;
        padding: 10px;
        font-size: 17px;
        border-radius: 10px 0 0 10px;

        &:focus{
          outline: none;
        }
        &::-webkit-input-placeholder{
          color: white;
        }
      }
      button{
        width: 15%;
        height: 46px;
        border-radius: 0 10px 10px 0 ;
        border: 1px solid transparent;
        background-color: #E75A5A;
        font-size: 19px;
        color: white;
        cursor: pointer;

        &:hover{
          background-color: rgba(231, 90, 90, 0.48);
        }
      }
    }

  }

  .hr{
    width: 100%;
    height: 2px;
    background-color: grey;
  }

  .copyright{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    color: grey;
  }
}