.global{
  width: 100%;
  height: 100vh;
  background-color: #F8F8F8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  p{
    color: #E75A5A;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
  }
  h1{
    text-align: center;
    width: 50%;
  }

  .img{
    margin-top: 20px;
    width: 70%;
  }
  .imgMedia{display: none;}


}

@media (max-width: 600px) {
  .global{
    width: 100%;
    height: auto;
    margin: auto;


    h1{
      width: 90%;
    }

    .img{
      display: none;
    }
    .imgMedia{
      width: 100%;
      display: flex;
      margin-top: 30px;
    }
  }
}